<ion-view view-title="Favorites">
    <ion-content ng-init="generateChordsList()">
        <div class="cards">
            <div class="card_container" ng-repeat="chord in chords_list" ng-click="showDetail(chord.id, chord.type);">
                <div class="list card">
                    <div class="item item-image">
                        <chord-finger muted="chord.first_chord['muted']" fingers="chord.first_chord['fret_fingers']" position="chord.first_chord['fret_position']"></chord-finger>
                    </div>
                    <div class="item item-text-wrap">
                        {{chord.name}}<span ng-show="chord.alt_name"> / {{chord.alt_name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
