<ion-view view-title="Favorites">
    <ion-content>
        <div class="cards">
            <div class="card_container" ng-repeat="favorite in getChordsList()" ng-click="showDetail(favorite.chord_id, favorite.chord_type);">
                <div class="list card">
                    <div class="item item-image">
                        <chord-finger muted="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).muted" fingers="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).fret_fingers" position="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).fret_position"></chord-finger>
                    </div>
                    <div class="item item-text-wrap">
                        {{favorite.chord.name | replaceName:favorite.chord_type}}<span ng-show="favorite.chord.alt_name"> / {{favorite.chord.alt_name | replaceName:favorite.chord_type}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
