<ion-view view-title="Favorites">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="toggleMenu()" ion-stop-event="click"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="showOptions($event)"><i class="icon ion-android-funnel"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="favorite-container">
        <div class="cards" ng-hide="getChordsList() == 0">
            <div class="card_container" ng-repeat="favorite in getChordsList()" ng-click="showDetail(favorite.chord_id, favorite.chord_type, favorite.chord_index);">
                <div class="list card">
                    <div class="item item-image">
                        <chord-finger muted="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).muted" fingers="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).fret_fingers" position="favorite.chord.getLayout(favorite.chord_type, favorite.chord_index).fret_position"></chord-finger>
                    </div>
                    <div class="item item-text-wrap">
                        {{ favorite.chord.name | completeChord:favorite.chord_type | translateChord:options['show_in_french'] }}<span ng-show="favorite.chord.alt_name"> / {{ favorite.chord.alt_name | completeChord:favorite.chord_type | translateChord:options['show_in_french'] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-empty-list" fill-content ng-show="getChordsList() == 0">
            <p>You have no favorite!</p>
        </div>
    </ion-content>
</ion-view>
