<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{current_chord.name}} - {{current_chord.french_name}}</h1>
        <button class="button button-icon icon ion-close" ng-click="hideChord()"></button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-divider">
                <div class="row">
                    <span class="col scale" ng-class="{'active':scale_parts.indexOf($index+1)>=0}" ng-repeat="scale in current_scale track by $index">{{scale}}</span>
                </div>
            </li>
            <li class="item">
                <div class="chords {{current_chord.chords['Major'][0]['Position']}}">
                    <img ng-repeat="(fret, finger) in current_chord.chords['Major'][0]['Fingers']" src="img/fingers/{{finger}}.png" class="fret-{{fret}}" />
                </div>
            </li>
        </ul>
        <div class="padding">
            <button ng-click="hideChord()" class="button button-block button-positive">OK</button>
        </div>
    </ion-content>
</ion-modal-view>
