<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{current_chord.name}} - {{current_chord.french_name}}</h1>
        <button class="button button-icon icon ion-close" ng-click="hideChord()"></button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-divider">
                <div class="row">
                    <span class="col scale" ng-class="{'active':scale_parts.indexOf($index+1)>=0}" ng-repeat="scale in current_scale track by $index">{{scale}}</span>
                </div>
            </li>
            <li class="item">
                <div class="chords">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="250" height="300" viewBox="0 0 210 300">
                        <text x="-16" y="73" fill="black">1</text>
                        <text x="-16" y="128" fill="black">2</text>
                        <text x="-16" y="185" fill="black">3</text>
                        <text x="-16" y="238" fill="black">4</text>
                        <g id="chord-top">
                        <path style="fill:#000000" d="{{chord_path}}" />
                        </g>

                        <g ng-repeat="(fret, finger) in current_chord.chords['Major'][0]['Fingers']" class="notes fret-{{fret}}">
                        <path class="note-border" d="M 14.414842,85.18643 C 4.5178927,80.61869 0.29151272,69.35564 4.8048927,59.57648 c 7.0253593,-15.2219 28.1945493,-15.2219 35.2199093,0 7.45561,16.15412 -9.45583,33.06556 -25.60996,25.60995 z" />
                        <path class="note-filling" d="m 29.993162,80.80268 c 10.5108,-7.08323 10.5108,-19.36918 0,-26.45241 -6.73344,-4.53766 -15.55421,-2.14306 -20.80452,5.64788 -8.45009928,12.5391 8.26543,29.25462 20.80452,20.80453 z" />
                        <text x="17" y="76" fill="black">{{finger}}</text>
                        </g>    
                    </svg>
                </div>
            </li>
            <li class="item item-divider legend">
                Strings:
            </li>
            <li class="item legend">
                <div class="row">
                    <span class="col" ng-repeat="string in strings track by $index">{{string}}</span>
                </div>
            </li>
            <li class="item item-divider legend">
                Notes:
            </li>
            <li class="item legend">
                <div class="row">
                    <span class="col" ng-repeat="(string, note) in notes track by $index">{{note}}</span>
                </div>
            </li>
            <li class="item item-divider legend">
                Fingers:
            </li>
            <li class="item legend">
                <div class="row">
                    <span class="col" ng-repeat="finger in fingers track by $index">{{finger}}</span>
                </div>
            </li>
        </ul>
        <div class="padding">
            <button ng-click="hideChord()" class="button button-block button-positive">OK</button>
        </div>
    </ion-content>
</ion-modal-view>
