<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/factories.js"></script>
  </head>
  <body ng-app="UkuleleApp" ng-controller="ChordsList">

    <ion-side-menus>
        <ion-side-menu side="right">
            <ion-header-bar class="bar-stable">
                <h1 class="title">Chord types</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">
                    <li class="item item-choice">
                        <div ng-repeat="single_chord_type in chord_types">
                            <ion-radio menu-close name="chord_type" ng-model="$parent.filters['chord_type']" ng-value="'{{single_chord_type.name}}'">{{single_chord_type.name}}</ion-radio>
                        </div>
                    </li>
                </ul>
            </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-pane>
              <ion-header-bar class="bar-stable">
                <h1 class="title">Ukulele</h1>
                <button class="button button-clear button-positive" ng-click="showChordTypes()">{{filters['chord_type']}}</button>
              </ion-header-bar>
              <ion-content>
                  <div class="list" collection-repeat="chord in chords">
                      <div class="item item-icon-left" ng-click="showChord(chord)">
                          <i class="icon ion-music-note"></i>
                          {{chord.name}}
                          <span class="item-note">{{chord.french_name}}</span>
                      </div>
                  </div>
              </ion-content>
            </ion-pane>
        </ion-side-menu-content>

    </ion-side-menus>
    
  </body>
</html>
