<ion-view view-title="Favorites">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="toggleMenu()" ion-stop-event="click"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="favorite-container">
        <div class="cards" ng-hide="getNotesList() == 0">
            <div class="card_container" ng-repeat="favorite in getNotesList()">
                <div class="list card">
                    <div class="item item-image">
                        <musical-note note="favorite.note_id" direction="favorite.note.direction"></musical-note>
                    </div>
                    <div class="item item-text-wrap">
                        {{ favorite.note.name | translateChord:options['show_in_french'] }}
                    </div>
                    <div class="item buttons">
                        <a ng-click="remove(favorite.note_id, favorite.note.direction)" class="item item-icon-left assertive">
                            <i class="icon ion-star"></i>Remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-empty-list" fill-content ng-show="getNotesList() == 0">
            <p>You have no favorite!</p>
        </div>
    </ion-content>
</ion-view>
