<ion-view view-title="Notes">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="toggleMenu()" ion-stop-event="click"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="showOptions($event)"><i class="icon ion-settings"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="cards cards_notes">
            <div class="card_container" ng-repeat="note in getNotesList()">
                <div class="list card">
                    <div class="item item-image">
                        <musical-note note="note.name" direction="note.direction"></musical-note>
                    </div>
                    <div class="item item-text-wrap">
                        {{ note.name | translateChord:options['show_in_french'] }}
                    </div>
                    <div class="item buttons">
                        <a ng-click="add(note.name, note.direction)" ng-hide="isFavorite(note.name, note.direction)" class="item item-icon-left assertive">
                            <i class="icon ion-star"></i>Add
                        </a>
                        <a ng-click="remove(note.name, note.direction)" ng-show="isFavorite(note.name, note.direction)" class="item item-icon-left assertive">
                            <i class="icon ion-star"></i>Remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
