<ion-popover-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Chord types</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="(family_name, chord_types) in chord_families">
            <div class="bar-stable" style="text-align: center; padding: 4px 0;">{{family_name}}</div>
            <ion-list ng-repeat="single_chord_type in chord_types">
                <ion-radio name="chord_type" ng-model="$parent.filters['chord_type']" ng-change="configChanged('filters')" ng-value="'{{single_chord_type}}'">{{single_chord_type}}</ion-radio>
            </ion-list>
        </div>
    </ion-content>
</ion-popover-view>
