<ion-view view-title="Quiz">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="toggleMenu()" ion-stop-event="click"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="showPopup($event, 'filters')">Source</button>
            <button class="button" ng-click="showPopup($event, 'options')"><i class="icon ion-android-funnel"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content ng-init="pickChord()">
        <div class="list">
            <h1 class="item">Reproduce a <strong>{{ current_chord | completeChord:current_chord_type | translateChord:options.show_in_french }}</strong></h1>
            <chord-finger class="item" interactive="'true'" labels="fret_labels" fingers="answer" position="fret_start == 1 ? 'top' : 'middle'"></chord-finger>
            <div class="buttons item" style="text-align: center">

                <button ng-show="playing" ng-disabled="fret_start <= 1" class="button button-dark" ng-click="moveFret(-1)"><i class="icon ion-arrow-up-c"></i></button>
                <button ng-show="playing" class="button button-dark" ng-click="showSolution()">Show the solution</button>
                <button ng-show="playing" ng-disabled="fret_start >= 12" class="button button-dark" ng-click="moveFret(1)"><i class="icon ion-arrow-down-c"></i></button>

                <button ng-hide="playing" class="button button-positive" ng-click="pickChord()">Next chord</button>
            </div>
        </div>
    </ion-content>
</ion-view>
