<ion-view view-title="Quiz">
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon" ng-click="toggleMenu()" ion-stop-event="click"><i class="icon ion-navicon"></i></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="showOptions($event)"><i class="icon ion-settings"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content ng-init="pickNote()">
        <div class="list">
            <h1 class="item">Which note is this : </h1>
            <musical-note note="current_note.name" direction="current_note.direction"></musical-note>
            <div ng-hide="playing" class="buttons buttons-notes item">
                <button class="button button-positive" ng-click="pickNote()">Pick another note</button>
            </div>
            <div class="buttons buttons-notes item">
                <button ng-disabled="answers_tried.indexOf(answer) >= 0" ng-repeat="answer in answers" class="button button-dark" ng-click="pickAnswer(answer)">{{ answer | translateChord:options['show_in_french'] }}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
