.chords {
    margin: 0 auto;
    background-image: url(../img/chords/chords-top.png);
    width: 282px;
    height: 352px;
    position: relative;
}
.chords.middle {
    background-image: url(../img/chords/chords-middle.png);
}

.chords > img {
    position: absolute;
}

.fret-G1 {
    left: 53px;
    top: 57px;
}
.fret-C1 {
    left: 100px;
    top: 57px;
}
.fret-E1 {
    left: 149px;
    top: 57px;
}
.fret-A1 {
    left: 195px;
    top: 57px;
}

.fret-G2 {
    left: 53px;
    top: 105px;
}
.fret-C2 {
    left: 100px;
    top: 105px;
}
.fret-E2 {
    left: 149px;
    top: 105px;
}
.fret-A2 {
    left: 195px;
    top: 105px;
}

.fret-G3 {
    left: 53px;
    top: 151px;
}
.fret-C3 {
    left: 100px;
    top: 151px;
}
.fret-E3 {
    left: 149px;
    top: 151px;
}
.fret-A3 {
    left: 195px;
    top: 151px;
}

.fret-G4 {
    left: 53px;
    top: 198px;
}
.fret-C4 {
    left: 100px;
    top: 198px;
}
.fret-E4 {
    left: 149px;
    top: 198px;
}
.fret-A4 {
    left: 195px;
    top: 198px;
}

.scale {
    text-align: center;
    color: #ccc;
}
.scale.active {
    color: inherit;
    font-weight: bold;
}

.chord.flat {
    background-color: #f4f4f4;
}

.item.item-divider.legend {
    text-align: center;
}
.item.legend {
    padding: 4px;
}
.item.legend > .row {
    max-width: 185px;
    margin: 0 auto;
    padding: 0;
}
.item.legend > .row > span.col {
    text-align: center;
}
